<div class="container mt-4">
  <h2>Courses</h2>

  <button class="btn btn-primary mb-3" (click)="addCourse()">Add Course</button>

  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Course Hours</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let course of courses">
        <td>{{ course.id }}</td>
        <td>{{ course.name }}</td>
        <td>{{ course.hoursCourse }}</td>
        <td>
          <button class="btn btn-sm btn-warning mx-2" (click)="editCourse(course)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="deleteCourse(course.id)">Delete</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
