/* Puedes ajustar el estilo según tus preferencias */
.navbar {
  background-color: #f8f9fa;
}

.navbar-brand {
  font-weight: bold;
}

.navbar-nav {
  width: 100%;
}

.navbar-toggler {
  margin-bottom: 20px;
}

.navbar-nav .nav-item {
  border-bottom: 1px solid #d3d3d3;
}

.navbar-nav .nav-item:last-child {
  border-bottom: none;
}
